@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Copse&family=Syncopate:wght@700&display=swap');
/* font-family: 'Copse', serif;
font-family: 'Chelsea Market', cursive;
font-family: 'Syncopate', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* * {
    margin: 0;
    padding: 0;
} */
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Copse', serif; */
    /* font-family: 'Chelsea Market', cursive; */
    font-family: 'Chelsea Market', cursive;
}
/* header starts */
header {
    background-image: url("images/header-leaning.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/* .hr-style{
    border: 50px dotted rgb(255, 0, 0) !important;
    border-bottom: none !important;
    width: 100px !important;
} */
.navbar {
    padding: 10% 10%;
    background-color: rgba(2, 2, 2, 0.428);
    font-size: 20px;
    font-weight: 700;
}
.nav-link {
    color: #fff;
    margin: 7px;
    /* padding: 12px 0px; */
    border-radius: 6px;
    transition: .3s;
}
.nav-link:hover {
    background: #657efbd2;
    /* background-color: white; */
    text-shadow: violet;
    transform: scale(1.1);
    display: block;
}
.navbar-brand img {
    width: 60px;
    height: auto;
}
.navbar-toggler {
    background-color: rosybrown;
}

/* header ends */
/*  */
.banner-container {
    height: 100vh;
    /* vh --> vertical height */
    /* display: flex;
    justify-content: center;
    align-items: center; --> done in bs class*/
}
.banner-container h1 {
    font-size: 3rem;
    background-color: rgba(145, 68, 68, 0.367);
    padding: 10px 20px;
    font-family: 'Syncopate', sans-serif;
    /* rounded-circle */
    border-radius: 10px;
}

/* body  */

/* features start */
#features {
    padding: 6% 11%;
    background: rgba(224, 223, 251, 0.775);
}
#features-span {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 11px 7px 12px;
    border: 3px dotted rgb(225, 0, 255);
    /* border-radius: 5px; */
}
.features-col {
    background: #edfbe1e3;
    border: 3px solid #d61111e5;
    border-radius: 6px;
    padding: 15px;
    margin: 20px 0px;
    box-shadow: 6px 6px 20px rgba(230, 51, 51, 0.374);

    transition: 0.6s;
}
.features-col:hover {
    transform: scale(1.1);
    box-shadow: 8px 9px 8px rgb(99, 99, 99);
    background: rgba(197, 197, 211, 0.857);
}
.icon-style {
    background: #db61ebf3;
    color: rgba(255, 255, 255, 0.836);
    padding: 15px;
    margin: 5px 0px;
}
/*  */
/* About me */
.section-title h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-bottom: 0;
}

#about-me {
    padding: 4% 10%;
    background: #fbdff7c6;
}
#about-me p {
    font-size: 0.9rem;
    font-weight: light;
    margin-bottom: 0px;
}
#about-me a {
    font-size: 0.9rem;
    font-weight: light;
    color: darkslategrey;
    text-decoration: cyan underline;
}
.achieve-desc span {
    font-weight: 700 !important; 
}
.star i {
    width: 24px;
    color: #e9b021f5;
}

/*  */
